* {
  margin: 0px;
}

header {
  background-color: dodgerblue;
  background-image: url(img/pattern.png);
  height: 175px;
}

#titolo {
  margin-top: 20px;
  margin-left: 5px;
}

#logo {
  width: 300px;
  padding-top: 80px;
  margin-top: 5px;
}

.suggerimenti {
  opacity: 0.4;
  margin-left: 5px;
}

.booleaner {
  color: darkturquoise;
}

.immagine {
  margin-top: 10px;
  margin-left: 5px;
}

.crediti {
  margin-left: 5px;
}

.testo {
  font-weight: 600;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testo-evidenziato {
  background-color: gold;
}

li {
  font-weight: 600;
}

table {
  margin-top: 30px;
  text-align: left;
  background-color: deepskyblue;
  border-spacing: 0px;
  width: 100%;
}

thead {
  background-color: darkcyan;
}

#riga-bianca {
  background-color: white;
}

.col, .coll {
  width: 25%;
  color: white;
}

.monitor {
  background-image: url(img/monitor.jpg);
  color: white;
  background-repeat: no-repeat;
  margin: 0px;
  width: 280px;
  height: 200px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.graph {
  background-image: url(img/graph.jpg);
  color: white;
  background-repeat: no-repeat;
  margin: 0px;
  width: 280px;
  height: 200px;
  text-align: center;
  padding-top: 10px;
}